<div id="<%= dom_id course_module %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= course_module.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beschreibung:</strong>
    <%= course_module.description %>
  </p>

</div>
