<div class="w-1/2 mx-auto">
  <% content_for :title, "Themen-/Fachgebiete" %>

  <div class="flex justify-between items-center">
    <h1 class="text-center font-bold text-4xl mb-4">Themen-/Fachgebiete</h1>
    <% if current_user.staff? || current_user.admin? %>
      <%= link_to "Neues Thema/Fachgebiet", new_category_path, class: "mb-4 bg-custom-red hover:bg-custom-hover-red text-white font-bold p-4 text-center border-0 rounded-md cursor-pointer transition duration-300 ease-in-out" %>
    <% end %>
  </div>

  <div id="categories" class="mt-5 w-full">
    <% @categories.each do |category| %>
      <div class="odd:bg-f9f9f9 even:bg-white flex justify-between items-center bg-white p-4 my-2 border-b border-gray-300 rounded-lg">
        <div class="break-words max-w-[35ch]">
          <%= category.name %>
        </div>

        <div class="flex items-center space-x-4">
          <%= link_to edit_category_path(category) do %>
            <% if current_user.staff? || current_user.admin? %>
              <button type="button" class="mb-4 bg-slate-700 hover:bg-slate-800 text-white p-2 text-center border-0 rounded-md cursor-pointer transition duration-300 ease-in-out">
                Bearbeiten
              </button>
            <% end %>
          <% end %>

          <% if current_user.staff? || current_user.admin? %>
            <%= render "layouts/delete_modal", delete_button_text: "Löschen", modal_title: "Sind Sie sicher, dass Sie dieses Thema/Fachgebiet löschen möchten?", delete_path: category_path(category), delete_button_classes: "mb-4 bg-custom-red hover:bg-custom-hover-red text-white p-2 text-center border-0 rounded-md cursor-pointer transition duration-300 ease-in-out" %>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>
