<footer class="mt-4 py-6 mx-auto w-full text-center">
  <hr class="w-[90%] border-0 m-0 mx-auto h-[2px] bg-[#333]" />
  <div class="w-full m-5 mx-auto text-center">
    <div class="text-center">
      <p><strong>Frankfurter Institut für Technologie und Innovation e.V.</strong></p>
      <p>Zum Linnegraben 20, 65933 Frankfurt a.M.</p>
      <p>E-Mail: <a href="mailto:info@fiti-frankfurt.de" class="text-blue-400 hover:text-blue-600">info@fiti-frankfurt.de</a></p>
    </div>
  </div>
</footer>