<nav class="fixed top-0 left-0 w-full z-[1000] bg-white p-2 border-b border-gray-300">
    <div class="flex justify-between items-center">
        <a href="<%= root_path %>">
            <img class="h-10 sm:h-16 md:h-[65px] w-auto block" src="<%= asset_path('logo.png') %>" alt="Logo" class="navbar-logo">
        </a>
    </div>
</nav>
